{{#if isLoggedIn}}
<header class="header">
    <div class="header-content">
        <div class="header-logo">
            <a href="/" style="text-decoration: none;">
                <img src="images/worldpeace.png" alt="Cuisine icon" class="header-logo-image">
            </a>
        </div>
        <div class="header-title">
            <a href="/" style="text-decoration: none;">
                <h1>World Peas</h1>
            </a>
        </div>
        <form class="header-form" method="get" action="/search">
            <input type="text" id="search" name="search">
            <button type="submit" id="searchbtn">
                <img src="fpicons/searchicon.png" alt="Search icon">
            </button>
        </form>
    </div>
    <div class="header-nav">
        <a href="/profile?user={{user.username}}" class="header-userprofile">User Profile</a>
        <a href="/logout" class="header-signout">Sign out</a>
    </div>
</header>
{{else}}
<header class="header">
    <div class="header-content">
        <div class="header-logo">
            <a href="/" style="text-decoration: none;">
                <img src="images/worldpeace.png" alt="Cuisine icon" class="header-logo-image">
            </a>
        </div>
        <div class="header-title">
            <a href="/" style="text-decoration: none;">
                <h1>World Peas</h1>
            </a>
        </div>
        <form class="header-form" method="get" action="/search">
            <input type="text" id="search" name="search">
            <button type="submit" id="searchbtn">
                <img src="fpicons/searchicon.png" alt="Search icon">
            </button>
        </form>
    </div>
    <div class="header-nav">
        <button onclick="showModal('registerModal')" id="header-signup">Sign up</button>
        <button onclick="showModal('loginModal')" id="header-login">Log in</button>
    </div>
</header>

<div id="loginModal" class="modal">
    <div class="modal-content">
        <span class="headerclose" onclick="closeModal('loginModal')">&times;</span>
        <form id="loginForm" action="/login" method="POST">
            <h1 style="text-align: center;">Login</h1>
            {{#if error_msg.[0]}}
            <div class="message-overlay" status="error" style="margin-bottom:10px;">
              <div>
                <h6 class="red-text text-darken-2"><strong>{{error_msg.[0]}}</strong></h6>
              </div>
            </div>
            {{/if}}
            <input type="text" id="loginUsername" name="username" class="textbox-border" placeholder="Username"
                required value="{{username}}">
            <input type="password" id="loginPassword" name="password" class="textbox-border" placeholder="Password"
                required>
            <div class="rememberMeLabel">
                <label>Remember Me:<input type="checkbox" id="rememberMe" name="rememberMe"></label>
            </div>
            <button type="submit">Login Now</button>
        </form>
    </div>
</div>

<div id="registerModal" class="modal">
    <div class="modal-content2">
        <span class="headerclose" onclick="closeModal('registerModal')">&times;</span>
        <form id="registerForm" enctype="multipart/form-data" action="/register" method="POST">
            <h1 style="text-align: center;">Sign up</h1>
            <input type="text" id="registerUsername" name="username" class="textbox-border" placeholder="Username"
                required>
            <input type="password" id="registerPassword" name="password" class="textbox-border" placeholder="Password"
                required>
            <input type="password" id="registerPassword" name="confirmpassword" class="textbox-border"
                placeholder="Confirm Password" required>
            <label for="avatar" class="avatarlabel">Avatar:</label>
            <input type="file" id="avatar" name="avatar" accept="image/*" class="textbox-border">
            <label for="description" class="descriptionlabel">Description:</label>
            <textarea id="description" name="description" placeholder="Optional"></textarea>
            <button type="submit">Register Now</button>
        </form>
    </div>
</div>

{{#if error_msg.[0]}}
  {{#if (contains error_msg.[0] "Account locked")}}
    <script>
      alert("{{error_msg.[0]}}");
    </script>
  {{/if}}
{{/if}}

{{/if}}

<script>
    function showModal(modalId) {
        var modal = document.getElementById(modalId);
        modal.style.display = "block";
    }

    function closeModal(modalId) {
        var modal = document.getElementById(modalId);
        modal.style.display = "none";
    }

    // Auto-open login modal if there is a login error
    window.onload = function() {
      var hasLoginError = {{#if error_msg}}true{{else}}false{{/if}};
      var showRegister = {{#if showRegister}}true{{else}}false{{/if}};
      if (showRegister) {
        showModal('registerModal');
      } else if (hasLoginError) {
        showModal('loginModal');
      }
    };
</script>