<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="FrontPageIndex.css" />
  <link rel="stylesheet" href="navStyle.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Review</title>
</head>

<header class="header">
  <div class="header-content">
    <div class="header-logo">
      <a href="/" style="text-decoration: none;">
        <img src="images/worldpeace.png" alt="Cuisine icon" class="header-logo-image">
      </a>
    </div>
    <div class="header-title">
      <a href="/" style="text-decoration: none;">
        <h1>World Peas</h1>
      </a>
    </div>
    <form class="header-form">
      <input type="text" id="search" name="search">
      <button type="button" onclick="redirectToPage()">
        <img src="fpicons/searchicon.png" alt="Search icon">
      </button>
    </form>
  </div>
  <div class="header-nav">
    <a href="/profile?user=PatriciaTom" class="header-userprofile">User Profile</a>
    <a href="/" class="header-signout">Sign out</a>
  </div>

  <script>
    function redirectToPage() {
      var redirectTo = "/search"
      window.location.href = redirectTo;
    }
  </script>
</header>

{{> messages}}

<main class="main">
  <section class="top-section">
    <h2 class="section-title">Cuisines</h2>
    <div class="cuisine-grid">
      <a href="#" class="cuisine-item">
        <img src="fpicons/filfood.jpg" alt="Cuisine icon">
        <p>Filipino</p>
      </a>
      <a href="#" class="cuisine-item">
        <img src="fpicons/usfood.jpg" alt="Cuisine icon">
        <p>American</p>
      </a>
      <a href="#" class="cuisine-item">
        <img src="fpicons/italianfood.jpg" alt="Cuisine icon">
        <p>Italian</p>
      </a>
    </div>
  </section>

  <section class="bottom-section">
    <div class="reviews">
      <h2 class="section-title2">Recent Reviews</h2>
      <div class="review-content">
        {{#each review}}
        <div class="review-item">
          <div class="reviewer-info">
            <img src="images/{{this.userDetails.profilePic}}" alt="Profile picture" class="profile-pic" onerror="this.src='images/default.jpg';">
            <div class="reviewer-name-rating">
              <p class="reviewer-name"> <a href="/profile?user={{this.username}}"> {{this.username}}</a> reviewed <span
                  class="restaurant-name">{{this.restaurant}}</span><span class="date">
                  02/12/2024</span></p>
              <div class="rating">
                <img src="images/{{this.rating}}star.png" class="star">
              </div>
            </div>
          </div>
          <div class="review-text">
            <p class="review-body">{{this.body}}</p>
            <a href="/view?restaurant={{this.restaurant}}&reviewID={{this._id}}" class="review-link">Continue
              reading</a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </section>
</main>


<footer>
  <div class="footer-content">
    <a href="/about">About Us</a>
  </div>
</footer>

<div id="loginModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal('loginModal')">&times;</span>
    <form id="loginForm" action="/login" method="POST">
      <h1 style="text-align: center;">Login</h1>

      <input type="text" id="loginUsername" name="username" class="textbox-border" placeholder="Username" required>
      <input type="password" id="loginPassword" name="password" class="textbox-border" placeholder="Password" required>
      <div class="rememberMeLabel">
        <label>Remember Me:<input type="checkbox" id="rememberMe" name="rememberMe"></label>
      </div>
      <button type="button" onclick="login()">Login Now</button>
    </form>
  </div>
</div>

<div id="registerModal" class="modal">
  <div class="modal-content2">
    <span class="close" onclick="closeModal('registerModal')">&times;</span>
    <form id="registerForm" action="/register" method="POST">
      <h1 style="text-align: center;">Sign up</h1>
      <input type="text" id="username" name="username" class="textbox-border" placeholder="Username" required>


      <input type="password" id="password" name="password" class="textbox-border" placeholder="Password" required>

      <input type="password" id="confirmassword" name="confirmpassword" class="textbox-border"
        placeholder="Confirm Password" required>
      <label for="avatar" class="avatarlabel">Avatar:</label>
      <input type="file" id="avatar" name="avatar" accept="image/*" class="textbox-border">

      <label for="description" class="descriptionlabel">Description:</label>
      <textarea id="description" name="description" placeholder="Optional"></textarea>
      <button type="button" onclick="register()">Register Now</button>
    </form>
  </div>
</div>
<script src="register_script.js"></script>

</body>

</html>