<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="FrontPageIndex.css" />
    <link rel="stylesheet" href="navStyle.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Review</title>
</head>

{{> messages}}

{{>navBar}}

<main class="main">
    <section class="top-section">
        <h2 class="section-title">Cuisines</h2>
        <div class="cuisine-grid">
            <a href="#" class="cuisine-item">
                <img src="fpicons/filfood.jpg" alt="Cuisine icon">
                <p>Filipino</p>
            </a>
            <a href="#" class="cuisine-item">
                <img src="fpicons/usfood.jpg" alt="Cuisine icon">
                <p>American</p>
            </a>
            <a href="#" class="cuisine-item">
                <img src="fpicons/italianfood.jpg" alt="Cuisine icon">
                <p>Italian</p>
            </a>
        </div>
    </section>

    <section class="bottom-section">
        <div class="reviews">
            <h2 class="section-title2">Recent Reviews</h2>
            <div class="review-content">
                {{#each review}}
                <div class="review-item">
                    <div class="reviewer-info">
                        <img src="images/{{this.userDetails.profilePic}}" alt="Profile picture" class="profile-pic">
                        <div class="reviewer-name-rating">
                            <p class="reviewer-name"> <a href="/profile?user={{this.username}}"> {{this.username}}</a>
                                reviewed <span class="restaurant-name">{{this.restaurant}}</span><span class="date">
                                    02/12/2024</span></p>
                            <div class="rating">
                                <img src="images/{{this.rating}}star.png" class="star">
                            </div>
                        </div>
                    </div>
                    <div class="review-text">
                        <p class="review-body">{{this.body}}</p>
                        <a href="/view?restaurant={{this.restaurant}}&reviewID={{this._id}}"
                            class="review-link">Continue
                            reading</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
</main>


<footer>
    <div class="footer-content">
        <a href="/about">About Us</a>
    </div>
</footer>

<script src="register_script.js"></script>
</body>

</html>