<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User Profile</title>
	<link rel="stylesheet" type="text/css" href="profile_style.css">
	<link rel="stylesheet" href="navStyle.css">
</head>

<body>
	{{> messages}}

	{{>navBar}}
	<input type="hidden" id="loggedUser" value="{{loggedUser}}">
	<div class="profile">
		<div class="cover-photo">
			<img src="images/coverphoto.jpg" alt="Cover Photo">
		</div>
		<div class="profile-details">
			<div id="profile-picture">
				<img src="images/{{user.profilePic}}" alt="Profile Picture">
			</div>
			<div class="user-details">
				<h1 class="username">{{user.username}}</h1>
				<p id="profileDescription" content="{{user.description}}">{{user.description}}</p>
				<button id="edit-profile-btn">Edit Profile</button>
			</div>
		</div>

		<div class="content">
			<div class="content-left">
				<div class="comments">
					<h2 class="section-title">Latest Comments</h2>
					<div class="comment">
						<img src="images/restaurant1.jpg" alt="User Profile Picture" class="profile-pic">
						<p>This place has amazing food!</p>
					</div>
					<div class="comment">
						<img src="images/restaurant2.jpg" alt="User Profile Picture" class="profile-pic">
						<p>I loved the atmosphere here!</p>
					</div>
					<div class="comment">
						<img src="images/restaurant3.jpg" alt="User Profile Picture" class="profile-pic">
						<p>Great service and delicious meals!</p>
					</div>
					<div class="comment">
						<img src="images/restaurant4.jpg" alt="User Profile Picture" class="profile-pic">
						<p>Can't wait to go back again!</p>
					</div>
					<div class="comment">
						<img src="images/restaurant5.jpg" alt="User Profile Picture" class="profile-pic">
						<p>This restaurant exceeded my expectations!</p>
					</div>
				</div>
				<div class="photos">
					<h2 class="section-title">Photos</h2>
					<div class="photo">
						<img src="images/restaurant1.jpg" alt="Photo 1">
						<p style="text-align: center">Caption for Photo 1</p>
					</div>
					<div class="photo">
						<img src="images/restaurant2.jpg" alt="Photo 1">
						<p style="text-align: center">Caption for Photo 2</p>
					</div>
					<div class="photo">
						<img src="images/restaurant3.jpg" alt="Photo 1">
						<p style="text-align: center">Caption for Photo 3</p>
					</div>
					<div class="photo">
						<img src="images/restaurant4.jpg" alt="Photo 1">
						<p style="text-align: center">Caption for Photo 4</p>
					</div>
					<div class="photo">
						<img src="images/restaurant5.jpg" alt="Photo 1">
						<p style="text-align: center">Caption for Photo 5</p>
					</div>
				</div>
			</div>
			<div class="content-right">
				<div class="reviews">
					<h2 class="section-title">Latest Reviews</h2>
					{{#each reviews}}
					<div class="review" id="{{this._id}}" image="{{this.image}}" rating="{{this.rating}}"
						body="{{this.body}}" isEdited="true">
						<div class="review-info">
							<img src="images/{{this.userDetails.profilePic}}" alt="User Profile Picture"
								class="profile-pic">
							<p class="review-label">{{this.username}} reviewed <span
									class="restaurant-name">{{this.restaurant}}</span>
								<br><span class="date">
									{{this.date}}</span>
							</p>
							<div class="review-actions">
								<div class="dropdown">
									<button class="dropdown-btn">&#8942;</button>
									<div class="dropdown-content">
										<a href="#" class="edit-btn">Edit</a>
										<a href="#" class="delete-btn">Delete</a>
									</div>
								</div>
							</div>
						</div>
						<img src="images/{{this.image}}" alt="Restaurant Review" class="review-photo">
						<img src="images/{{this.rating}}star.png" class="star">
						<p class="review-content">{{this.body}}</p>
					</div>
					{{/each}}
				</div>
			</div>
		</div>

		<div id="edit-profile-modal" class="modal">
			<div class="modal-content3">
				<span class="close">&times;</span>
				<h2 style="color:#EE4E34">Edit Profile</h2>
				<form id="edit-profile-form" enctype="multipart/form-data" method="post" action="/editProfile">
					<div id="profilelabel"><label for="profile-picture-upload">Profile Picture:</label></div>
					<input type="file" id="profile-picture-upload" name="profilePicture" accept="image/*">
					<div id="descriptionDiv"> <label for="description">Short Description:</label></div>
					<textarea id="description" name="description" rows="4" cols="50"></textarea>
					<button type="submit">Save Changes</button>
				</form>
			</div>
		</div>

		<div id="edit-review-modal" class="modal">
			<div class="modal-content3">
				<span class="close">&times;</span>
				<h2 style="color:#EE4E34">Create a Review</h2>
				<form id="reviewForm">
					<label for="rating">Rating (1-5):</label><br>
					<div class="rating">
						<span class="star2" data-value="1">&#9734;</span>
						<span class="star2" data-value="2">&#9734;</span>
						<span class="star2" data-value="3">&#9734;</span>
						<span class="star2" data-value="4">&#9734;</span>
						<span class="star2" data-value="5">&#9734;</span>
					</div>
					<input type="hidden" id="rating" name="rating" value="0" required>
					<div id="mediaLabel"><label for="media">Upload Media (Image/Video):</label></div>
					<input type="file" id="media" name="media" accept="image/*,video/*">
					<div id="reviewBodyLabel"><label for="reviewBody">Review Body:</label></div>
					<textarea id="reviewBody" name="reviewBody" rows="4" required></textarea>
					<input type="submit" value="Submit Review">
				</form>
			</div>
		</div>

		<script src="profile_script.js"></script>
		<script src="register_script.js"></script>
</body>

</html>