<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="search_css.css" />
    <link rel="stylesheet" href="navStyle.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <meta name="description" content="Your description here">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
  </style>
  <title>Restaurant Review</title>
</head>

<body>
  {{> messages}}

  {{>navBar}}
  <div class="filter">
    <!-- Your filter options -->
  </div>
  <div class="container">
    <h2 class="section-title">Search Results for "{{query}}"</h2>
    {{#each restaurants}}
    <a href="/view?restaurant={{this.name}}" style="text-decoration: none; color: black;">
      <div class="restaurant">
        <img src="images/restaurant-placeholder.jpg" alt="Restaurant Photo" class="restaurant-photo">
        <div class="restaurant-info">
          <h3 class="restaurant-name">{{this.name}}</h3>
          <div class="restaurant-rating">
            <img src="images/{{this.rating}}star.png" class="star">
            <p>{{this.reviewCount}} reviews</p>
          </div>
          <p class="restaurant-location">Location: {{this.location}}</p>
        </div>
      </div>
    </a>
    {{/each}}
  </div>
  </form>
  <script src="register_script.js"></script>
</body>

</html>
