<html>

<head>
    <title>Review</title>
    <link rel="stylesheet" href="review.css">
    <link rel="stylesheet" href="navStyle.css">
    <script src="jquery-3.6.0.min.js"></script>
</head>

<header class="header">
    <div class="header-content">
        <div class="header-logo">
            <a href="/" style="text-decoration: none;">
                <img src="images/worldpeace.png" alt="Cuisine icon" class="header-logo-image">
            </a>
        </div>
        <div class="header-title">
            <a href="/" style="text-decoration: none;">
                <h1>World Peas</h1>
            </a>
        </div>
        <form class="header-form">
            <input type="text" id="search" name="search">
            <button type="button" onclick="redirectToPage()">
                <img src="fpicons/searchicon.png" alt="Search icon">
            </button>
        </form>
    </div>
    <div class="header-nav">
        <a href="/profile?user=PatriciaTom" class="header-userprofile">User Profile</a>
        <input type="hidden" id="userID" value="65e70e1fb8ad88c9f4512d2d">
        <a href="/loggedOut" class="header-signout">Sign out</a>
    </div>

    <script>
        function redirectToPage() {
            var redirectTo = "/search"
            window.location.href = redirectTo;
        }
    </script>
</header>



<body>

    <section class="layout">
        <div class="headerReview">
            <section class="restoTitle">
                <div>
                    <span class="username">{{restaurant.name}}</span><br>
                    <img src="images/{{reviewValue}}star.png" class="rate"> <span class="subReview"> {{reviewLength}}
                        reviews</span> | Fast Food<br>
                    <img src="images/location-2952.png" class="icon"> {{restaurant.locations}} | <img
                        src="images/telephone-handle-silhouette.png" class="headericon"> {{restaurant.phone}} | <a
                        href="https://www.mcdonalds.com.ph/" class="webLink"> <img src="images/laptop.png"
                            class="headericon">
                        Website↗</a>
                </div>
                <div class="marginLeft">
                    <a href="https://www.youtube.com/watch?v=BbeeuzU5Qc8" class="webLink"> <img
                            src="images/pencil-327.png" class="headericon"> Review</a> | <a
                        href="https://www.youtube.com/watch?v=BbeeuzU5Qc8" class="shareLink"> <img
                            src="images/share-3798.png" class="headericon"> Share</a>
                </div>
            </section>
        </div>
        <div class="main">
            <div class="picCollection">
                {{#each restaurant.images}}
                <img src="{{this}}">
                {{/each}}
            </div>
            <section class="detail">
                <div class="ratingDetail">
                    <span class="title"> Ratings and reviews </span><br>
                    <p><img src="images/{{reviewValue}}star.png" class="rate"> <span class="subReview"> {{reviewLength}}
                            reviews</span></p>
                    <div class="ratingBottom">
                        <p><b>Ratings</b></p>
                        <ul style="list-style-type: none;">
                            <li><img src="images/food.png" class="icon"> Food <img src="images/{{rating.food}}star.png"
                                    class="rate">
                            </li>
                            <li><img src="images/service.png" class="icon"> Service <img
                                    src="images/{{rating.service}}star.png" class="rate">
                            </li>
                            <li><img src="images/money.png" class="icon"> Value <img
                                    src="images/{{rating.value}}star.png" class="rate">
                            </li>
                            <li><img src="images/candle.png" class="icon"> Atmosphere <img
                                    src="images/{{rating.atmosphere}}star.png" class="rate">
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="generalDetail">
                    <span class="title">Details</span><br><br>
                    <b>Cuisines</b>
                    <p>{{restaurant.cuisine}}</p><br>
                    <b>Meals</b>
                    <p>{{restaurant.meals}}</p><br>
                    <b>Features</b>
                    <p>{{restaurant.features}}</p>



                </div>
                <div class="locationDetail">
                    <span class="title">Location and contact</span>
                    <img src="images/Screenshot 2024-02-12 101554.png" class="map">
                    <p><img src="images/location-2952.png" class="icon">{{restaurant.locations}}</p>
                    <p><a href="https://www.mcdonalds.com.ph/" class="webLink" style="color: black;"><img
                                src="images/laptop.png" class="headericon"> Website↗</a></p>
                    <p><img src="images/telephone-handle-silhouette.png" class="headericon"> {{restaurant.phone}}</p>
                </div>
            </section>
        </div>
        <div class="footer">
            <table id="reviewtable">
                <tr>
                    <td class="reviewHeader">
                        <ul class="reviewTitle">
                            <li>
                                <span class="title"> Reviews ({{reviewLength}})</span><button id="reviewButton">Write a
                                    Review</button>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="reviewBody">
                        <section class="reviewFilter">
                            <div>
                                <b>Rating</b><br>
                                <ul style="list-style-type: none; padding: 0;">
                                    <li>
                                        <input type="checkbox" id="excellent">
                                        <label for="excellent">Excellent ({{excellent}})</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="veryGood">
                                        <label for="veryGood">Very Good ({{veryGood}})</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="average">
                                        <label for="average">Average ({{average}})</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="poor">
                                        <label for="poor">Poor ({{poor}})</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="terrible">
                                        <label for="terrible">Terrible ({{terrible}})</label>
                                    </li>
                                </ul>
                            </div>
                        </section>
                        See what travelers are saying:
                        <div class="search">
                            <form method="post" action="/reviewSearch">
                                <input name="body" type="text" id="reviewSearch" placeholder="Search here...">
                                <input name="restoName" type="hidden" value="{{restaurant.name}}">
                                <button id="searchButton" type="submit"><img src="images/search.png"
                                        class="icon"></button>
                            </form>
                        </div>
                    </td>
                </tr>
                {{#each review}}
                <tr class="reviewRow">
                    <td class="reviewBody" id="{{this._id}}">
                        <div class="review">
                            <div class="review-info">
                                <img src="images/{{this.userDetails.profilePic}}" alt="User Profile Picture"
                                    class="profile-pic">
                                <p class="review-label"><a href="/profile?user={{this.username}}"> {{this.username}}
                                    </a>
                                    reviewed <span class="restaurant-name">{{this.restaurant}}</span> <br><span
                                        class="date">
                                        {{this.date}}</span></p>

                            </div>
                            <img src="images/{{this.image}}" alt="Restaurant Review" class="review-photo">
                            <img src="images/{{this.rating}}star.png" class="star">
                            <p class="review-content" data-full-text="{{this.body}}">{{this.body}}</p>
                            <span class="helpful">Helpful?({{this.helpful}})<button
                                    class="helpfulButton">👍</button><button class="unHelpfulButton">👎</button>
                            </span>
                            <span class="replyBtn"><img src="images/reply.png" style="height: 17px; width: 17px;">
                                Reply</span>
                            <div class="reply">
                                <div class=" replyHeader">
                                    <div class="replyUsername"> <span class="replyResto"> {{this.restaurant}}</span>
                                        replied: </div>
                                    <div class="replyDate">{{this.date}}</div>
                                </div>
                                <div class="replyBody">
                                    {{this.replyDetails.body}}
                                </div>
                            </div>
                            <!--
                            <div class="reply">
                                <div class="replyHeader">
                                    <div class="replyUsername">{{this.restaurant}}</div>
                                    <div class="replyDate">{{this.date}}</div> 
                                </div>
                                <div class="replyBody">
                                    This is good
                                </div>
                            </div>
                            -->
                        </div>
                    </td>
                </tr>
                {{/each}}
            </table>
            <script>
                function scrollToReview() {
                    const section = document.getElementById("{{ reviewID }}");
                    section.scrollIntoView({ behavior: "smooth" });
                }

                window.onload = scrollToReview;
            </script>
        </div>
    </section>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 style="color:#EE4E34">Create a Review</h2>
            <form id="reviewForm">
                <label for="rating">Rating (1-5):</label><br>
                <div class="rating">
                    <span class="star2" data-value="1">&#9734;</span>
                    <span class="star2" data-value="2">&#9734;</span>
                    <span class="star2" data-value="3">&#9734;</span>
                    <span class="star2" data-value="4">&#9734;</span>
                    <span class="star2" data-value="5">&#9734;</span>
                </div>
                <input type="hidden" id="rating" name="rating" value="0" required>
                <div id="mediaLabel"><label for="media">Upload Media (Image/Video):</label></div>
                <input type="file" id="media" name="media" accept="image/*,video/*">
                <div id="reviewBodyLabel"><label for="reviewBody">Review Body:</label></div>
                <textarea id="reviewBody" name="reviewBody" rows="4" required></textarea>
                <input type="submit" value="Submit Review">
            </form>
        </div>
    </div>

    <div id="replyModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 style="color:#EE4E34">Create a Response</h2>
            <form id="replyForm">
                <div id="reviewBodyLabel"><label for="replyBody">Reply Body:</label></div>
                <textarea id="replyBody" rows="4" required></textarea>
                <input type="submit" value="Submit Review">
            </form>
        </div>
    </div>
    <script src="review_script.js"></script>
</body>

</html>